/*NAVBAR + NAV*/

.tasto-login {
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom right, rgb(182, 122, 11),rgb(39, 27, 2));
    padding: 15px 30px;
    border-radius: 30px;
    position: relative; 
    top: 20%;
    }
    
.navbar{
height: 65px; 
}

.nav-link{
white-space: nowrap;
overflow: hidden;
}