/*AUTORE: ANDREA PALERMO*/

.nome-prod{
    position:absolute;
    top:5%;
    font-size:2vw;
}

.condizione-prod{
    position:absolute;
    top:45%;
    font-size:1.5vw; 
    margin-left:1%;
}

.prezzo-prod{
    position:absolute; 
    bottom:2%; 
    font-size:1.5vw;  
    margin-left:1%;
}

.filtro-cond{
    font-size: 1.2vw;
    flex:10%;
    max-width:15%; 
    text-align:center;
    margin:0.5vw;
}

.filtro-prezzo{
    font-size: 1.5vw;
    flex:10%; 
    max-width:10%; 
    text-align:center;
    margin:0.5vw;
}

.active{
    font-weight: bolder;
    color:white;
}

.prodotto{
    cursor: pointer;
}

.figura-prod{
    height: 40vh;
}